<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админ Панель</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <ul>

                <li><a href="#" data-target="settings">Настройка PWM</a></li>

                <li><a href="#" data-target="abaut">О проекте</a></li>

            </ul>
        </aside>
        <main class="content">

            <div id="settings"  class="active">
                <h2>Настройка PWM</h2>
                <br>
                <form id="pwmForm">
                    <label for="pwmValue">Значение импульсной модуляции (1-100%):</label>
                    <input type="number" id="pwmValue" name="pwmValue" min="1" max="100" value="{{ pwm_value }}" required><br><br>

                    <button type="submit">Сохранить</button>
                </form>
            </div>

            <div id="abaut">
                <h2>О проекте</h2>
                <br>
                <p>Комплекс для управления raspberry pi через Админ-панель и REST API</p>
            </div>

        </main>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>